.kpi-geolocate{
    display: flex;
    border-radius: 7px;
    background-color: #fff;
    margin-bottom: 3px;
}

.item-kpi{
    font-size: 20px;
}

.valueItem-kpi{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color:#8b8b8b
}

