.container{
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
}

.tituloIN{
    align-self: center;
    margin-top: 1px;
    font-size: 55px;
    font-weight: bold;
    color:dodgerblue;
    text-align: center;
}

.projetovinculadoIN{
    font-size: 15px;
    text-align: center;
}

.tituloProjetoIN{
    margin-top: 20px;
    margin-bottom: 10px;
}

.descri{
    align-self: center;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    margin-bottom: 25px;
}

.descri1{
    align-self: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    text-align: center;
}

.advisors{
    display: flex;
    justify-content: space-evenly;
}

.avatar{
    border-radius: 50%;
    border: 3px solid dodgerblue;
    width: 150px;
    margin-top: 10px;
}

.return{
    width: 150px;
    margin-left: 100px;
    border-radius: 7px;
    background-color: #c0c0c0;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

.onde1{
    text-align: center;
    font-size: 15px;
}
